# LaTeX output
thinkjava.aux
thinkjava.dvi
thinkjava.idx
thinkjava.ilg
thinkjava.ind
thinkjava.log
thinkjava.out
thinkjava.pdf
thinkjava.synctex.gz
thinkjava.toc

# Java examples
*.class
checkstyle*.jar

# HTML output
heveahtml/*
trinkethtml/*
